<a href="https://colab.research.google.com/github/kartikgandhi/Soft-Voting-Ensemble-Results-Edited-Dataset/blob/main/Ensemble_Greenstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [59]:
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

In [60]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [61]:
DATA = pd.read_csv("/content/gdrive/MyDrive/Edited Datasets/Edited-greenstone 3.0.7 - greenstone 3.0.7.csv")

In [62]:
DATA['change'] = DATA['change'].map({'YES': 1, 'NO': 0})

In [63]:
DATA.shape

(601, 8)

In [64]:
DATA.head()

   CBO  NOC  RFC   LOC  DIT  LCOM  WMC  change
0    4    0   34   189    1    78   24       1
1    6    0    5   133    1    50   20       1
2    7    0   60  2124    1     0  355       1
3   21    0   15   145    1    85   17       1
4   10    0   13   721    1    91   27       1

In [65]:
X = DATA.drop('change', axis=1)
y = DATA['change']

In [66]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [67]:
estimator = []
estimator.append(('lin', SVC(probability=True, kernel='linear')))
estimator.append(('rbf', SVC(probability=True, kernel='rbf')))
estimator.append(('poly', SVC(probability=True, kernel='poly')))

In [68]:
# Voting Classifier with hard voting
vot_hard = VotingClassifier(estimators = estimator, voting ='soft')
vot_hard=vot_hard.fit(X_train, y_train)

In [69]:
y_pred = vot_hard.predict(X_test)

In [70]:
print(y_pred)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0]

In [71]:
from sklearn.metrics import classification_report, confusion_matrix
zz=confusion_matrix(y_test, y_pred)
print(zz)
print(classification_report(y_test, y_pred))

[[97  0]
 [23  1]]
              precision    recall  f1-score   support

           0       0.81      1.00      0.89        97
           1       1.00      0.04      0.08        24

    accuracy                           0.81       121
   macro avg       0.90      0.52      0.49       121
weighted avg       0.85      0.81      0.73       121

In [72]:
from sklearn.metrics import classification_report, confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[97  0]
 [23  1]]

In [73]:
# predict probabilities
from sklearn.metrics import roc_auc_score
from sklearn.svm import SVC
pred_prob = vot_hard.predict_proba(X_test)
auc_score = roc_auc_score(y_test, pred_prob[:,1])
print("Area Under Curve=")
print(auc_score)

Area Under Curve=
0.7444158075601375

In [74]:
from sklearn.metrics import matthews_corrcoef
mcc=matthews_corrcoef(y_test,y_pred)
print("Matthews correlation coefficient=")
print(mcc)

Matthews correlation coefficient=
0.18352262954621035

In [75]:
from sklearn.metrics import balanced_accuracy_score
bac=balanced_accuracy_score(y_test, y_pred)
print("Balanced Accuracy Score=")
print(bac)

Balanced Accuracy Score=
0.5208333333333334

In [76]:
from imblearn.metrics import geometric_mean_score
gmean=geometric_mean_score(y_test, y_pred)
print("Geometric Mean Score=")
print(gmean)

Geometric Mean Score=
0.20412414523193148