<a href="https://colab.research.google.com/github/kartikgandhi/Soft-Voting-Ensemble-Results-Edited-Dataset/blob/main/Ensemble_Mina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

In [22]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [23]:
DATA = pd.read_csv("/content/gdrive/MyDrive/Edited Datasets/Edited-mina data 2.0.7-2.0.8 - mina data 2.0.7-2.0.8.csv")

In [24]:
DATA['change'] = DATA['change'].map({'yes': 1, 'no': 0})

In [25]:
DATA.shape

(610, 8)

In [26]:
DATA.head()

   CBO  NOC  RFC   LOC  DIT  LCOM  WMC  change
0    1    0   53    15    0   100    4       0
1   10    0  391    74    2    66   12       0
2   25    2  194   225    0    98  181       0
3    4    0   14    47    0    66    1       0
4   34    0   53  1049    0     0   40       0

In [27]:
X = DATA.drop('change', axis=1)
y = DATA['change']

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [29]:
estimator = []
estimator.append(('lin', SVC(probability=True, kernel='linear')))
estimator.append(('rbf', SVC(probability=True, kernel='rbf')))
estimator.append(('poly', SVC(probability=True, kernel='poly')))

In [30]:
# Voting Classifier with hard voting
vot_hard = VotingClassifier(estimators = estimator, voting ='soft')
vot_hard=vot_hard.fit(X_train, y_train)

In [31]:
y_pred = vot_hard.predict(X_test)

In [32]:
print(y_pred)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0]

In [33]:
from sklearn.metrics import classification_report, confusion_matrix
zz=confusion_matrix(y_test, y_pred)
print(zz)
print(classification_report(y_test, y_pred))

[[107   0]
 [ 14   1]]
              precision    recall  f1-score   support

           0       0.88      1.00      0.94       107
           1       1.00      0.07      0.12        15

    accuracy                           0.89       122
   macro avg       0.94      0.53      0.53       122
weighted avg       0.90      0.89      0.84       122

In [34]:
from sklearn.metrics import classification_report, confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[107   0]
 [ 14   1]]

In [35]:
# predict probabilities
from sklearn.metrics import roc_auc_score
from sklearn.svm import SVC
pred_prob = vot_hard.predict_proba(X_test)
auc_score = roc_auc_score(y_test, pred_prob[:,1])
print("Area Under Curve=")
print(auc_score)

Area Under Curve=
0.8012461059190032

In [36]:
from sklearn.metrics import matthews_corrcoef
mcc=matthews_corrcoef(y_test,y_pred)
print("Matthews correlation coefficient=")
print(mcc)

Matthews correlation coefficient=
0.24280273483648643

In [37]:
from sklearn.metrics import balanced_accuracy_score
bac=balanced_accuracy_score(y_test, y_pred)
print("Balanced Accuracy Score=")
print(bac)

Balanced Accuracy Score=
0.5333333333333333

In [38]:
from imblearn.metrics import geometric_mean_score
gmean=geometric_mean_score(y_test, y_pred)
print("Geometric Mean Score=")
print(gmean)

Geometric Mean Score=
0.25819888974716115